.site-header,
.site-header.dark,
.featured-section .site-header {
//    background: $cta;
    .site-title a,
    .genesis-nav-menu a{
        text-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
        font-weight: 800;
    }
    .wrap {
        border-bottom: none;
    }
}
.widget .button {
    text-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
    &.clear,
    &:hover{
        text-shadow: none;
    }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    width: 98%;
}

body .gform_wrapper {
    margin: 0;
    li.hidden_label input,
    .gform_footer {
        margin-top: 0;
        padding: .25em;
    }
}

.sticky-footer {
    background: #333;
    color: white;
    font-weight: 800;
    z-index: 99;
}

@media only screen and (max-width: 800px) {
    .sticky-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    
        .textwidget {
            max-width: 100%;
            margin: 0 auto;
            padding: .5em 0;
            font-size: .8em;
        a.button {
            padding: 10px;
        }
        }
}
}
