.site-header,
.site-header.dark,
.featured-section .site-header {
    background: $cta;
    .site-title a,
    .genesis-nav-menu a{
        text-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
        font-weight: 800;
    }
    .wrap {
        border-bottom: none;
    }
}
.widget .button {
    text-shadow: 1px 1px 2px rgba(30, 30, 30, 1);
    &.clear,
    &:hover{
        text-shadow: none;
    }
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    width: 98%;
}
